* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body, html {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: linear-gradient(135deg, #a0d9ff, #d1ecff);
}

.hidden {
    display: none;
}

#popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#popup h1 {
    margin-bottom: 20px;
}

#readyButton {
    background-color: #007acc;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

#readyButton:hover {
    background-color: #005f99;
    transform: scale(1.05);
}

#pannel {
    overflow: hidden;
    height: 85%;
    width: 80%;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pannelUp {
    font-size: medium;
    width: 100%;
    height: 80px;
    background: #007acc;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    border-bottom: 3px solid #005f99;
    border-radius: 20px 20px 0 0;
    padding: 10px;
}

#hit, #timer, #score {
    display: flex;
    color: white;
    gap: 10px;
    align-items: center;
    font-weight: bold;
}

#num {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    width: 35px;
    height: 35px;
    color: #007acc;
    border-radius: 5px;
    padding: 2px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, color 0.3s;
}

#num:hover {
    background: #007acc;
    color: #ffffff;
}

#pannelDown {
    width: 100%;
    height: calc(100% - 80px);
    background: #ffffff;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

.elements {
    background: #a0d9ff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    color: #007acc;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, transform 0.3s;
}

.elements:hover {
    background: #007acc;
    color: #ffffff;
    transform: scale(1.1);
}

#resetButton {
    background-color: #007acc;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

#resetButton:hover {
    background-color: #005f99;
    transform: scale(1.05);
}

h3 {
    margin: 0;
}

h1 {
    color: #007acc;
}
